%div
  %h1= @big
  %p= @small
  - unless @over
    - if @details
      %p 
        if you're lucky you'll find more details
        %a{:href => "http://faces.rubyoceania.org/groups/sydney/meetings/2009-07-14"}
          here
    - else
      %p Details to follow...
    - if @need_more_talks
      %p
        if you want to do a talk put your name and topic down
        %a{:href => "http://wiki.rubyonrails.com.au/index.php/roro:Sydney_-_Topics_Confirmed"}
          here
  %p.plug
    = @plug