%div
  %h1= @big
  %p= @small
  - unless @meetup.recently_finished?
    - if @meetup.details_on_faces?
      %p 
        You can find out more about who is speaking about what
        %a{:href => @meetup.faces_url }
          here
    - if @meetup.needs_more_talks?
      %p
        It looks like we may need more speakers so, if you want to, put your name and topic down
        %a{:href => "http://wiki.rubyonrails.com.au/index.php/roro:Sydney_-_Topics_Confirmed"}
          here
  %p
    And to have your say about topics, use
    %a{:href => "http://groups.google.com/group/rails-oceania/"}
      the #roro mailing list
  %p.plug
    = @plug